<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>LoginnForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="static/assets1/fonts/linearicons/style.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="static/assets1/css/style.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<img src="static/assets1/images/image-1.png" alt="" class="image-1">
				<form action="/signin" method="GET">
					<h3>Add Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" name="user" class="form-control" placeholder="Username" required>
					</div>
					
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" name="password" class="form-control" placeholder="Password" required>
					</div>
					
					<button type="submit">
						<span>Login</span>
					</button><br><br>
					<p style="font-size: large;">Register here! <a href="/logon">Sign Up</a></p>
				</form>
				<img src="static/assets1/images/image-2.png" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="static/assets1/js/jquery-3.3.1.min.js"></script>
		<script src="static/assets1/js/main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>